:root {
  --easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --easing-in: cubic-bezier(0, 0, 0.2, 1);
  --easing-out: cubic-bezier(0.4, 0, 1, 1);
  --easing-fast: 125ms;
  --easing-medium: 200ms;
  --easing-slow: 300ms;
}
