:root {
  --font-extra-large: 400 22px var(--font-text);
  --font-large: 500 16px var(--font-text);
  --font-medium: 400 16px var(--font-text);
  --font-small: 500 14px var(--font-text);
  --font-extra-small: 400 14px var(--font-text);
}
